<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://plugin.powerschool.pearson.com" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	description="Adds the Counselor Notes to Admin." 
	name="College Applications" 
	version="1.0" 
	xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
	<publisher name="Bruce Taylor">
		<contact email="brucet@msd321.com"/>
	</publisher>
</plugin>
